global
    maxconn 1000

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5000ms
    timeout client  1h
    timeout server  1h

listen postgres_pool
    bind *:5432
    mode tcp
    option pgsql-check user postgres
    # balance roundrobin (No necesario porque db-replica1 es backup y solo actúa si primary cae)
    server primary db-primary:5432 check
    server replica db-replica1:5432 check backup
